.container{
    text-align: center;
    margin: auto;
    background-color: rgba(66, 65, 65, 0.692);
    width: 400px;
    padding: 50px;
}

.mostrar{
    
        float: center;
        width: 58px;
        height: 49px; 
        border-left: 2px solid rgb(189, 22, 167);
        padding: 10px;
        overflow: auto;
        background-color: rgb(139, 54, 235);
    
}

textarea{
    resize: none;
    overflow: auto; 
    background-color: #aa77aa;
    font-size: 16px;
}