.col{
    margin-left: 20%;
    margin-right: 20%;
    position: relative;
    text-align: center;
}

#showUs{
    background-color:#35046e; 
    color:white; 
    border: 2px black solid;
    position: absolute;
    top: 50%;
}